.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
}

.btn-black {
    background: var(--primary);
    color: white;
    padding: 1.2rem 2.5rem;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    cursor: pointer;
}

.btn-outline {
    background: transparent;
    border: 1px solid #ccc;
    padding: 1.2rem 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* Estilo del formulario de la imagen */
.form-field {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--primary);
}

.form-field label {
    display: block;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.form-field input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    outline: none;
}