main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.hero-section {
  padding: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Tarea 2: Grid de Proyectos */
.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas exactas */
    gap: 4rem;
    margin-bottom: 5rem;
}

/* Responsive para Móviles */
@media (max-width: 768px) {
    .project-list {
        grid-template-columns: 1fr; /* 1 columna en celular */
    }
    .hero-title {
        font-size: 3rem;
    }
}